.btn {
  border: 1px solid transparent;
  background-color: transparent;
  font-family: $alt-font;
  font-size: $font-regular;
  font-weight: $fontW-light;
  padding-inline: $padding-md;
  padding-block: $padding-sm;
  border-radius: 99px;
  margin-top: $margin-xl;
  color: $accent-white;
  cursor: pointer;

  &:hover {
    transform: scale(0.98);
  }
}

.btn.btn-primary {
  background: $accent-pink;
}
.btn.btn-secondary {
  background-color: $accent-blue;
}
.btn.btn-tertiary {
  background-color: $tertiary-color;
}

li {
  cursor: pointer;
  font-weight: $fontW-bold;
  font-family: $alt-font;

  &:hover {
    color: $warning-color;
  }
}
