$primary-color: #e4e2dc;
$secondary-color: #8b7d6b;
$tertiary-color: #6b2737;
$warning-color: #d4b996;
$info-color: #5e6b3f;
$dark-color: #333;
$light-color: #fff;
$accent-pink: #b18c8c;
$accent-blue: #5c6b7d;
$accent-white: #f7f7f7;

body {
    color: $dark-color;
}




